header div:nth-child(odd){

    border: 1px solid;
    display:inline-block;
    width: 20px;
    height: 20px;
    background-color: yellow;
    margin-bottom: 20px;

}
header div:nth-child(even){

    border: 1px solid;
    margin-top: 20px;
    display:inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(17, 230, 63);
}
section > div{
    border: 1px solid black;
    width: 60px;
    height: 20px;
    background-color: red;
    display:inline-block;
    color: white;
    text-align: center;
    
    
}
section > div:nth-child(even){
    display: none;
    
    
}
/* td:nth-child(n+1){
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: rgb(7, 216, 7);
} */
 /* footer div{

  
   
    
 } */

  span:nth-child(1),span:nth-child(2),span:nth-child(3),span:nth-child(7),span:nth-child(8),span:nth-child(9){
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
 }
 span:nth-child(4),span:nth-child(5),span:nth-child(6){
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: blue;
    display: inline-block;
 }
 main div span:nth-child(4),main div span:nth-child(5),main div span:nth-child(6){

    margin: 10px;
    width: 50px;
    height: 50px;
    background-color:green;
    display: inline-block;
 }
 main div span:nth-child(1),main div span:nth-child(2),main div span:nth-child(3),main div span:nth-child(7),main div span:nth-child(8),main div span:nth-child(9){

    margin: 10px;
    width: 50px;
    height: 50px;
    background-color:blue;
    display: inline-block;
 }

 
